.list {
    margin-top: 30px;
    border: solid 1px;
    border-radius: 0.3em;
}
.pagination-container {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}
.pagination-container .btn {
    margin-left: 5px;
    border-radius: 0.3em;
}


