
@keyframes ldio-9d4b96n4x05-1 {
    0% { top: 39.199999999999996px; height: 121.60000000000001px }
    50% { top: 62px; height: 76px }
    100% { top: 62px; height: 76px }
}
@keyframes ldio-9d4b96n4x05-2 {
    0% { top: 44.89999999999999px; height: 110.20000000000002px }
    50% { top: 62px; height: 76px }
    100% { top: 62px; height: 76px }
}
@keyframes ldio-9d4b96n4x05-3 {
    0% { top: 50.6px; height: 98.8px }
    50% { top: 62px; height: 76px }
    100% { top: 62px; height: 76px }
}
.ldio-9d4b96n4x05 div {
    position: absolute; width: 28px
}
.ldio-9d4b96n4x05 div:nth-child(1) {
    left: 36px;
    background: #353535;
    animation: ldio-9d4b96n4x05-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.2s
}
.ldio-9d4b96n4x05 div:nth-child(2) {
    left: 86px;
    background: #666666;
    animation: ldio-9d4b96n4x05-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.1s
}
.ldio-9d4b96n4x05 div:nth-child(3) {
    left: 136px;
    background: #9b9b9b;
    animation: ldio-9d4b96n4x05-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: initial;
}

.loadingio-spinner-pulse-wik0ujj64t {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
    margin-left: 26em;
}
.ldio-9d4b96n4x05 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-9d4b96n4x05 div { box-sizing: content-box; }
